
<div class="modal fade" id="modalAddMedia" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddMedia" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Upload Media
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
              <form id="modalAddMediaForm" class="form-horizontal form-label-left" method="POST" novalidate>
			  <div class="x_panel">
					<div class="x_content">
<!--
                        <input id="id" hidden/>
-->
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="url">URL <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <input id="url" class="form-control col-md-7 col-xs-12" parsley-trigger="change" parsley-type="url"  name="url" placeholder="http://" required="required" type="text">
                        </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12"  pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 60]" name="name" placeholder="Media name" data-parsley-trigger="change" required type="text">
                          </div>
                     </div>
                                            
                     <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-xs-12">
                                   <select id="kind" name="kind" class="form-control" required>
                                      <option value="">Choose..</option>
                                      <option value="iso">ISO CD/DVD</option>
                                      <option value="floppy">Floppy</option>
                                   </select>
                            </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>
                    
                     <input id="hypervisors_pools" name="hypervisors_pools" value="default" hidden/> 
<!--                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Hypervisor Pool
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
                                <option value="default" selected="default">
                                    Default
                                </option>
                            </select>
                        </div>
                    </div> -->
				</div>
			  </div>

                                    <div id="alloweds-add">
                                      {% include '/snippets/alloweds_add.html' %}
                                    </div>

            </div>
            <!-- Modal Footer -->
            <div class="modal-footer" style="padding: 5px;">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success">Start download</button></li>
                </ul>
            </div>                       
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="modalAddMediaLocal" tabindex="-1" role="dialog" 
     aria-labelledby="modalAddMediaLocal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">   
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Upload Local Media
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
              <form id="modal-add-media-form-local"  action="{{ url_for('admin_media_localupload') }}" class="form-horizontal form-label-left" method="POST" novalidate>
               
                
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12"  pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 60]" name="name" placeholder="Media name" data-parsley-trigger="change" required type="text">
                          </div>
                     </div>
                                            
                     <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-xs-12">
                                   <select id="kind" name="kind" class="form-control" required>
                                      <option value="">Choose..</option>
                                      <option value="iso">ISO CD/DVD</option>
                                      <option value="floppy">Floppy</option>
<!--
                                      <option value="disk">Disk</option>
-->
                                   </select>
                            </div>
                     </div>
                     
                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea id="textarea" name="description" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                     </div>

                     <input id="hypervisors_pools" name="hypervisors_pools" value="default" hidden/> 
<!--                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Hypervisor Pool
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="hypervisors_pools" name="hypervisors_pools">
                                <option value="default" selected="default">
                                    Default
                                </option>
                            </select>
                        </div>
                    </div> -->

                     <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Media upload files
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="dropzone" id="myDropzone"></div>
                        </div>
                    </div>                


                                    <div id="upload-alloweds-add">
                                      {% include '/snippets/alloweds_add.html' %}
                                    </div>
                                    
			  </div>


<!--
                                <button id="send" type="button" class="btn btn-success">Start download</button>      
-->
<!--
            </div>
-->
            <!-- Modal Footer -->
            <div class="modal-footer" style="padding: 5px;">
                <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                   </li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send-localupload" type="submit" class="btn btn-success">Start download</button></li>
                   </li>
                </ul>
            </div>                       
            </form>
        </div>
    </div>
</div>




<style>
     [id^=modal_add_] .selected {
        background-color: #ccccb3 !important;
    }
    
     [id^=modal_add_] tr.even:hover {
        background-color: #e0e0d1;
    } 

     [id^=modal_add_] tr.odd:hover {
        background-color: #ebebe0;
    }  

    .my-error{
      color: #B94A48 !important;
      background-color: #F2DEDE !important;
      border: 1px solid #EED3D7 !important;        
    }           
</style>

<div class="modal fade" id="modalAddFromMedia" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddFromMedia" aria-hidden="true" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <button type="button" class="close" 
                  data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Create desktop from media
               </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                   <form id="modalAdd" class="" data-parsley-validate>
                       
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                              <div id="modalData" class="x_panel" >
                                 <p style="font-size: 18px;margin-bottom:0px;">Desktop name and description</p>
                                 <div class="x_content">
                                    <label for="name">Name<span class="required"> *</span></label>
                                    <input type="text" id="name" class="form-control" name="name" pattern="[-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required />
                          
                                      <label for="message">Description</label>
                                      <textarea id="description" class="form-control" name="description"></textarea>                              
                                 </div>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                              <div id="modalMedia" class="x_panel" style="background-color:#f5f5f0;">
                                 <p style="font-size: 18px;margin-bottom:0px;"><i class="fa fa-circle-o"></i> Selected ISO/Floppy to boot from</p>
                                 <div id="datatables-media-error-status"></div>
                                 <input  id="media" name="media" type="hidden" required>
                                 <label  id="media_name" name="media_name"></label>
                                 <label  id="media_size" name="media_size"></label>
 
<!--
								 <div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="add_virtio_iso">Windows install?
									</label>
                                    
                                    
                                    
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <div class="checkbox">
										<label class="">
										  <div class="icheckbox_flat-green" style="position: relative;">
											  <input type="checkbox" id="add_virtio_iso" name="add_virtio_iso" class="flat"  style="position: absolute; opacity: 0;">
											  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
											  </ins>
										  </div> It is a Windows install media
										</label>
									  </div> 
									</div>                                              
-->




<!--
									<div class="col-md-6 col-sm-6 col-xs-12">
									  <div class="checkbox">
										<label class="">
										  <div class="icheckbox_flat-green" style="position: relative;">
											  <input type="checkbox" id="add_virtio_fd" name="add_virtio_fd" class="flat"  style="position: absolute; opacity: 0;">
											  <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
											  </ins>
										  </div> Attach Windows drivers
										</label>
									  </div> 
									</div>                                              
-->
							
<!--
								 </div>
-->
                                    
<!--
                                 <table id="modal_add_media" class="table table-striped " cellspacing="0" width="100%"  style="margin-top: 0px;">
                                    <thead>
                                       <tr>
                                          <th>Name</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                 </table>
-->
                            
<!--
                              </div>
-->
                            </div>
                        </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">                   
                                <div class="row">
                                      <div id="modalInstall" class="x_panel" style="background-color:#efeff5;">
                                         <p style="font-size: 18px;margin-bottom:0px;"> Select OS template</p>
                                         <div id="datatables-install-error-status"></div>
                                         <input  id="install" name="install" type="hidden" required>
                                         <table id="modal_add_install" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                                            <thead>
                                               <tr>
                                                  <th>Name</th>
                                                  <th>Vers</th>
                                               </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                         </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">    
                              <div class="x_panel" id="media-hardware-block"  style="background-color:#efeff5;">
                                 <p style="font-size: 18px;margin-bottom:0px;"><i class="fa fa-wrench"></i> Adjust OS template Hardware</p>
                                 {% include '/snippets/domain_hardware_disksize_edit.html' %}
                              </div>
                            </div>
                        </div>

                   </form>
            </div>
                  <!-- Modal Footer -->
            <div class="modal-footer">
                 <ul class="nav navbar-left panel_toolbox">
                    <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                 </ul>
                 <ul class="nav navbar-right panel_toolbox">
                    <li><button id="send" type="button" class="btn btn-success">Create desktop</button></li>
                 </ul>
            </div>
        </div>
    </div>
</div>


